@font-face {
  font-family: 'Roboto-Regular';
  src: url("/fonts/Roboto-Regular.ttf"); }

@font-face {
  font-family: 'Roboto-Light';
  src: url("/fonts/Roboto-Light.ttf"); }

body {
  background-color: #dd3e59;
  font-family: "Roboto-Regular", Arial, Helvetica,sans-serif; }

#img-holder {
  max-width: 200px;
  max-height: 200px; }

.main-avatar {
  width: 500px;
  margin: auto;
  padding: 40px 10px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  text-align: center; }
  .main-avatar .text-layer #fullname {
    padding: 10px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 3px solid #888;
    background-color: transparent;
    line-height: 30px;
    font-size: 1; }
  .main-avatar .logo-handler {
    text-align: center;
    margin: auto; }
  .main-avatar .avatar {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    background: #000;
    margin: auto;
    text-align: center; }
  .main-avatar .avatar-layer {
    position: relative;
    top: 50px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 13px; }
  .main-avatar .avatar-info {
    text-align: center;
    color: #666; }
    .main-avatar .avatar-info h2 {
      font-family: 'Roboto-Light'; }
  .main-avatar .content-editor {
    position: absolute;
    z-index: 100000;
    background: orange; }

.save-info {
  text-decoration: none;
  color: rgba(18, 126, 113, 0.88);
  padding: 5px 30px;
  border: 2px solid rgba(18, 126, 113, 0.88);
  border-radius: 5px;
  transition: .3s all;
  text-align: center; }
  .save-info:hover {
    text-decoration: none;
    border-color: #666;
    color: #666; }
